# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Environment
# =========================
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# PTB-XL ECG recordings
# =========================
data/raw/ptbxl/records100/
data/raw/ptbxl/records500/

# =========================
# Processed data
# =========================
data/processed/

# =========================
# ML artifacts
# =========================
artifacts/
models/
mlruns/

# =========================
# Logs
# =========================
logs/

# =========================
# IDE
# =========================
.vscode/
.idea/